@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
  --bg-color: #050a13;
  --second-bg-color: #0d1f2d;
  --text-color: #fff;
  --main-color: #5bffff;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
}

section{
  min-height: 100vh;
  max-height: 100vh;
  padding: 100px 150px;
}

/* ------ NavBar Style ------ */

header{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 120px;
    position: fixed;
    z-index: 9;
}

header .brand{
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 9;
}

header .navigation{
    margin-left: 350px;
    z-index: 9;
}

header .navigation a{
    position: relative;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 50px;
}

header .navigation a:before{
    content: "";
    position: absolute;
    background: var(--main-color);
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.4s ease;
}
  
header .navigation a:hover:before{
    width: 100%;
}

/* header .navigation a:hover{
  color: #5bffff;
} */

.nav-bg{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 70px;
    background: black;
    opacity: 0.4;
  }


/* ------ Video Slide Section ------ */
  
  .home{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .home .content{
    z-index: 888;
    width: 70%;
    margin-top: 50px;
    display: none;
  }
  
  .home .content.active{
    display: block;
  }
  
  .home .content h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
  }
  
  .home .content h1 span{
    font-size: 1.2em;
    font-weight: 600;
  }
  
  .home .content p{
    margin-bottom: 65px;
  }
  
  .home .content a{
    background: var(--text-color);
    padding: 15px 35px;
    color: rgb(21, 4, 97);
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
  }
  
  .home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
  }
  
  .home .media-icons a{
    color: var(--text-color);
    font-size: 1.6em;
    transition: 0.3s ease;
  }
  
  .home .media-icons a:not(:last-child){
    margin-bottom: 20px;
  }
  
  .home .media-icons a:hover{
    transform: scale(1.3);
  }
  
  .home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
  }
  
  .slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background: var(--text-color);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255,255,255,0.5);
    transition: 0.3s ease;
  }
  
  .slider-navigation .nav-btn.active{
    background: #6969d4;
  }
  
  .slider-navigation .nav-btn:not(:last-child){ 
    margin-right: 20px;
  }
  
  .slider-navigation .nav-btn:hover{ 
    transform:scale(1.2);
  }
    
  .video-slide{  
    position: absolute; 
    width: 100%;
    clip-path: circle(0% at 0 50%); 
  }
    
  .video-slide.active{
    clip-path: circle(150% at 0 50%); 
    transition: 2s ease; 
    transition-property: clip-path;
  }  

/* ------ About Section Style ------ */

.about{
  background: var(--second-bg-color);
}

.about h2{
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.about-content{
  display: flex;
  /* border: 2px solid var(--bg-color); */
  height: 453px;
  border-radius: 20px;
  box-shadow: 0 0 25px var(--main-color);
}

.about-content .about-text{
  flex: 70%;
  height: 100%;
  display: flex;
  padding: 2.5rem;
  background: var(--bg-color);
  text-align: justify;
  border-radius: 20px 0 0 20px;
}

.about-content .about-img{
  flex: 30%;
  /* border-left: 2px solid black ; */
}

.about-content .about-img img{
  width: 100%;
  height: 452px;
  border-radius: 0px 20px 20px 0px;
}


/* ------ Projects Section ------ */

.projects h2{
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.projects-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.projects-container .projects-box{
  flex: 1 1 100px;
  background: var(--second-bg-color);
  padding: 20px;
  border-radius: 20px;
  border: .1rem solid var(--bg-color);
  transition: .4s ease;
  text-align: center;
}

.projects-container .projects-box:hover{
  border-color: var(--main-color);
  transform: scale(1.02);
}

.projects-box .box-symbol{
  font-size: 6rem;
  color: var(--main-color);
}

.projects-box h3{
  font-size: 2rem;
}

.projects-box p{
  font-size: 1.2rem;
  margin: 1rem 0 2rem;
}

.projects-box a{
  font-size: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background:var(--text-color);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: var(--bg-color);
  margin: 0 0 .4rem;
}

.projects-box a:hover{
 background: var(--main-color);
 transition: .3s ease; 
}