@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

:root{
  --bg-color: #050a13;
  --second-bg-color: #0d1f2d;
  --text-color: #fff;
  --main-color: #00eeff;
}

body{
  background: var(--second-bg-color);
  color: var(--text-color);
  padding: 5rem 10rem;
}

a{
  color: var(--text-color);
}

/* ------ NavBar Style ------ */

header{
  margin: 0 auto;
  display: flex;
  align-items: center;
}

header .brand, nav{
  z-index: 8;
}

header .brand{
  font-size: 3rem;
  font-weight: 600;
}

header nav{
  display: inline-flex;
  width: 40%;
  justify-content: space-around;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 600;
  background: var(--bg-color);
  border-radius: 2.5rem;
  margin: 0 25rem;
}

header nav a{
  padding: 1.5rem 2rem;
}

header nav a:hover, nav a.active{
  color: var(--main-color);
}

/* ------ Pages Style ------ */

/* .project-container{
  position: absolute;
  top: 0;
  left: 0;
  padding: 7rem 0rem;
  width: 100%;
  background-image: url(/Images\ and\ videos/games.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

.projects-slider {
  display: flex;
  width: 300%; /* Adjust based on the number of project containers */
  transition: transform 0.5s ease-in-out;
}

.project-container {
  flex: 0 0 33.33%; /* Adjust based on the number of project containers */
  height: 100vh;
}



.category-content{
  text-align: center;
}

.category-content h2{
  font-size: 4rem;
  margin-top: 5rem;
  text-transform: uppercase;
  color: var(--main-color);
  text-shadow: 1px 2px 8px var(--main-color);
  animation: shadowAnimation 3s infinite;
}

@keyframes shadowAnimation {
  0%, 100% {
    text-shadow: none;
  }
  50% {
    text-shadow: 1px 2px 8px var(--main-color);
  }
}

.category-content p{
  margin: 1.5rem auto 7rem;
  font-size: 1.6rem;
}

.project-box{
  width: 100%;
  height: 30rem;
  background: var(--bg-color);
  border-radius: 20px;
  text-align: center;
  margin-bottom: 2rem;
}