@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

:root{
  --bg-color: #050a13;
  --second-bg-color: #0d1f2d;
  --text-color: #fff;
  --main-color: #00eeff;
}

body{
  background-image: url(/Images\ and\ videos/games.avif);
  background-position: center;
  background-size: cover;
  color: var(--text-color);
  overflow-x: hidden;
}

a{
  color: var(--text-color);
}

/* ------ NavBar Style ------ */

header{
  margin: 2.5rem 5rem;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: 8;
}

header .brand{
  width: 25%;
  margin: .5rem 0rem 0rem 5rem;
  background: var(--bg-color);
  border-radius: 48%;
  box-shadow: 0px 0px 10px var(--main-color);
}

header nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 600;
  background: var(--bg-color);
  border-radius: 2.5rem;
  box-shadow: 0 0 8px var(--main-color);
  position: absolute;
  left: 43rem;
}

header nav a{
  padding: 1.5rem 2rem;
}

header nav a:hover, nav a.active{
  color: var(--main-color);
}

/* ------ Idea Page Style ------ */

.domain-slider {
  display: flex;
  width: 300%;
  position: absolute;
  padding-top: 5rem;
  transition: transform 0.5s ease-in-out;
}

.domain-container {
  flex: 0 0 33.33%;
  height: 100vh;
}

.domain-content{
  text-align: center;
  position: relative;
}

.domain-content::before {
  position: absolute;
  content: '';
  top: 0;
  left: 7.5rem;
  right: 0;
  bottom: 0;
  width: 90%;
  border-radius: 15px;
  background: var(--bg-color);
  transform: scale(1);
  opacity: 0.5;
  z-index: -1;
}

.domain-content h2{
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--main-color);
  padding-top: 2rem;
  text-shadow: 1px 2px 8px var(--main-color);
  animation: shadowAnimation 3s infinite;
  z-index: 5;
}

@keyframes shadowAnimation {
  0%, 100% {
    text-shadow: none;
  }
  50% {
    text-shadow: 1px 2px 8px var(--main-color);
  }
}

.domain-content p{
  margin: 1.5rem auto 7rem;
  font-size: 1.6rem;
  padding-bottom: 2.5rem;
}

.domain-idea-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.idea-box{
  width: 90%;
  height: 30rem;
  background: var(--bg-color);
  border-radius: 20px;
  margin-bottom: 2rem;
}

.idea-box h2{
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 1rem;
  text-transform: uppercase;
  font-family:Georgia, 'Times New Roman', Times, serif ;
  position: relative;
}

.idea-box h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 49.8%;
  transform: translateX(-50%) skewX(-60deg);
  width: 16%;
  height: .3rem;
  background-color: var(--main-color);
}

.idea-box p{
  text-align: justify;
  margin: 1.5rem 4rem;
  font-size: 1.5rem;
  z-index: 5;
}

.idea-box p span{
  font-size: 1.5rem;
  font-weight: bold;
}


/* ------ Slide Up Button ------ */

.iconTop{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  padding: .8rem;
  background: var(--main-color);
  border-radius: .6rem;
  transition: .4s ease;
}

.iconTop{
  font-size: 4rem;
  color: var(--second-bg-color);
}

.iconTop:hover{
  box-shadow: 0 0 1rem var(--main-color);
}
